@model FoxClub.Services.FoxService

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img src="~/images/greenfox.png" alt="Fox" />

<p>This is Mr @Model.GetName(), He Eats @Model.GetFood(), Drinks @Model.GetDrink() and knows @Model.GetTricks().Count() tricks</p>

<h1>Known Tricks</h1>

@if(Model.GetTricks() == null || Model.GetTricks().Count() == 0)
{
    <p>He doesn't know any tricks yet....yolo!</p>
}
else
{
    foreach(string trick in Model.GetTricks())
    {
        <p>@trick</p>

    }
}

