@model List<Post>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RedditClone</title>
</head>
<body>
    <a href="/addpost"><h2>Add New Post</h2></a>

    <h1 style="text-align:center;">Trending Posts</h1>

    <table cellspacing:60px; style="font-size:28px;">
        @foreach (Post current in Model)
        {
            <tr>
                <td style="width:70px">@current.Vote</td>
                <td style="width:20px"><a href="/@current.Id/add">+</a></td>
                <td style="width:40px"><a href="@current.Id/substract">-</a></td>
                <td><a href="@current.Url">@current.Title</a></td>
                <td>@current.CreatedAt</td>
            </tr>
        }
    </table>
</body>
</html>
