@model BankOfSimba.ViewModels.BankAccountInfoViewModel

@{
    ViewData["Title"] = "AccountInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />
<form action="/Bank/IncrementBalance" method="post">
    <input type="text" name="type" value="" placeholder="AnimalBalanceToIncrement" required/>
    <button type="submit">Submit</button>
</form>
<br /><br />
@{int index = 0; }

<table style="font-size: 30px; text-align:center;">
    <thead style="background-color: #3d3d3d; color: white;">
        <tr style="border: 1px solid black">
            <th style="border: 1px solid black">Index</th>
            <th style="border: 1px solid black">Name</th>
            <th style="border: 1px solid black">Balance</th>
            <th style="border: 1px solid black">Type</th>
            <th style="border: 1px solid black">Alignment</th>
        </tr>
    </thead>
    <tbody>
        @foreach (BankAccount acc in Model.BankAccountDatabase)
        {
            string temp = string.Empty;

            if (acc.IsGoodGuy)
            {
                temp += "Good One";
            }
            else
            {
                temp += "Bad Guy";
            }

            if (acc.IsKing)
            {
                <tr style="border: 1px solid black; background-color: gold">
                    <td style="border: 1px solid black">@index</td>
                    <td style="border: 1px solid black">@acc.Name</td>
                    <td style="border: 1px solid black">@acc.Balance</td>
                    <td style="border: 1px solid black">@acc.AnimalType</td>
                    <td style="border: 1px solid black">@temp</td>
                    <td style="border: 1px solid black">KING</td>
                </tr>
            }
            else
            {
                <tr style="border: 1px solid black">
                    <td style="border: 1px solid black">@index</td>
                    <td style="border: 1px solid black">@acc.Name</td>
                    <td style="border: 1px solid black">@acc.Balance</td>
                    <td style="border: 1px solid black">@acc.AnimalType</td>
                    <td style="border: 1px solid black">@temp</td>
                </tr>
            }

            index++;
        }
    </tbody>
</table>

<br /><br />

      <form action="/Bank/AddNewAccount" method="post">
          <label>Name: </label><input type="text" name="Name" value="" required/><br />
          <label>Balance: </label><input type="number" name="Balance" value="" required/><br />
          <label>AnimalType: </label><input type="text" name="AnimalType" value="" required/><br />
          <label>IsKing: </label><input type="checkbox" name="IsKing" value="TRUE" /><br />
          <label>IsGoodGuy: </label><input type="checkbox" name="IsGoodGuy" value="TRUE" /><br />
          <button type="submit">Submit</button>
      </form>

