@model SpaceShipApp.ViewModels.SpaceEntityDto

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/css/tablestyle.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Space Transporter</title>
</head>
<body>
    <h1>Space Transporter</h1>

    <table>
        <thead>
            <tr>
                <th>Planet</th>
                <th>Population</th>
                <th>Spaceship local</th>
                <th>People on Ship</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Planet current in Model.Planets)
            {
                if (current.Name.Equals(Model.Spaceship.Planet))
                {
                    <tr>
                        <td>@current.Name</td>
                        <td>@current.Population</td>
                        <td><a href="/toplanet/@current.Id">To Planet</a><a href="/toship/@current.Id">To Ship</a></td>
                        <td>@Model.Spaceship.Utilization</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>@current.Name</td>
                        <td>@current.Population</td>
                        <td>
                            <form action="/movehere/@current.Id" method="post">
                                <button type="submit">Move Here</button>
                            </form>
                        </td>
                        <td>-</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</body>
</html>
