@model List<ToDo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br /><br />
<table class="table table-bordered table-responsive table-hover">
    <thead style="background-color: #3d3d3d; color: white;">
        <tr>
            <th>ID</th>
            <th>CONTENT</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ToDo todo in Model)
        {
            if (todo.Complete)
            {
                <tr style="background-color: green;">


                    <td>@todo.Id</td>
                    <td>@todo.Content</td>
                    <td>DONE</td>
                </tr>

            }
            else if (todo.IsUrgent)
            {
                <tr style="background-color: gold;">


                    <td>@todo.Id</td>
                    <td>@todo.Content</td>
                    <td>URGENT</td>
                </tr>

            }
            else
            {
                <tr>


                    <td>@todo.Id</td>
                    <td>@todo.Content</td>
                </tr>

            }

        }
    </tbody>
</table>

<br /><br />
<form action="/" method="post">
    <input type="text" name="Content" value="" placeholder="AddContent" required />
    <button type="submit">Submit</button>
</form>
<br /><br />
<form action="/remove" method="post">
    <select name="input">
        <option value="" selected disabled hidden>Choose here</option>
        @foreach (ToDo item in Model)
        {
            <option value="@item.Id">@item.Content</option>
        }
    </select>
    <button type="submit">DELETE</button>
</form>

<br /><br />

<form action="/complete" method="post">
    <select name="input">
        <option value="" selected disabled hidden>Choose here</option>
        @foreach (ToDo item in Model)
        {
            <option value="@item.Id">@item.Content</option>
        }
    </select>
    <button type="submit">CHECK</button>
</form>

<br /><br />

<form action="/urgent" method="post">
    <select name="input">
        <option value="" selected disabled hidden>Choose here</option>
        @foreach (ToDo item in Model)
        {
            <option value="@item.Id">@item.Content</option>
        }
    </select>
    <button type="submit">URGENT</button>
</form>

<br /><br />

<form action="/writejson" method="post">
    <button type="submit">WriteJSON</button>
</form>

<br /><br />

<form action="/readjson" method="post">
    <button type="submit">ReadJSON</button>
</form>

